@model Blog_Sitesi.Models.Kategori

@{
    ViewBag.Title = "Create";
}

<div class="navbar navbar-default">
    <h2 style="text-align:center; margin-bottom:25px">Kategori Ekle</h2>
</div>


@using (Html.BeginForm())
{
    ////benzersiz bir derğer oluşturlum form gönderiliyor güvenlik açısından
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.KategoriAdi,  new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.KategoriAdi, new  { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.KategoriAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-success has-error" />
            </div>
        </div>
    </div>
}

    <div>
        <i class="fa fa-backward text-primary">&nbsp;</i>
        @Html.ActionLink("Listeye Dön", "Index")
    </div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
