@model IEnumerable<Blog_Sitesi.Models.BlogModel>


@{
    ViewBag.Title = "Anasayfa";
}

<div class="navbar navbar-default" >
    <h2 style="text-align:center; margin-bottom:25px">Anasayfa</h2>
</div>

<div class="row">
    <div class="col-md-8">
        @foreach (var Blog in Model)
        {
        <div class="blog">
            <h3 class="page-header">
                @Blog.Baslik
            </h3>

            <img class="img-responsive" src="https://place-hold.it/900x300" alt="Alternate Text" />
            <p class="text-right">
                <span class="fa fa-clock-o"></span>
                @Blog.EklemeTarihi
            </p>
            <p> @Blog.Aciklama</p>

            <button class="btn btn-primary">Daha falza...</button>
        </div>
        }
    </div>
    <div class="col-md-4" style="margin-top:95px">
        @Html.Partial("_SearchBar")
        @Html.Partial("_KategoilerSidebar")
        @Html.Partial("_KategoilerSidebar")

    </div>
</div>


