@model Blog_Sitesi.Models.Blog

@{
    ViewBag.Title = "Details";
}


<div class="navbar navbar-default">
    <h1 style="text-align:center; margin-bottom:25px">Detay - @Model.Baslik </h1>
</div>
<div class="row">
    <div class="col-md-8">
        <img class="img-responsive" src="https://place-hold.it/900x300" alt="Alternate Text" />
        <p class="text-right">
            <span class="fa fa-clock-o"></span>
            @Model.EklemeTarihi
        </p>
        <blockquote>
            <p>@Model.Aciklama</p>
        </blockquote>
        <p>
            @Model.Icerik
        </p>
        <p>
            <i class="fa fa-backward text-primary">&nbsp;</i>
            @Html.ActionLink("Listeye Dön", "Index")
        </p>
        @Html.Partial("_Comment")
    </div>
    <div class="col-md-4" >
        @Html.Partial("_SearchBar")
        @Html.Partial("_KategoilerSidebar")
    </div>
</div>

