@model Blog_Sitesi.Models.Blog
@using Blog_Sitesi.Content

@{
    ViewBag.Title = "Details";
}

@Html.Baslik("navbar alert-info", "text-align:center; margin-bottom:25px",Model.Baslik)

<div class="row">
    <div class="col-md-8">
        <img class="img-responsive" src="https://place-hold.it/900x300" alt="Alternate Text" />
        <p class="text-right">
            <span class="fa fa-clock-o"></span>
            @Model.EklemeTarihi
        </p>
        <blockquote>
            <p>@Model.Aciklama</p>
        </blockquote>
        <p>
            @Model.Icerik
        </p>
        <p>
            <i class="fa fa-backward text-primary">&nbsp;</i>
            @Html.ActionLink("Listeye Dön", "Index")
        </p>
        @Html.Partial("_Comment")
    </div>
    <div class="col-md-4">
        @Html.Partial("_SearchBar")
        @{Html.RenderAction("KategoriListesi", "Kategori");};
    </div>
</div>

